
@font-face
    font-family: 'SF'
    font-weight: 100
    src: url('./assets/fonts/sf/thin.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 200
    src: url('./assets/fonts/sf/ultralight.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 300
    src: url('./assets/fonts/sf/light.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 400
    src: url('./assets/fonts/sf/regular.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 500
    src: url('./assets/fonts/sf/medium.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 600
    src: url('./assets/fonts/sf/semibold.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 700
    src: url('./assets/fonts/sf/bold.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 800
    src: url('./assets/fonts/sf/heavy.woff') format('woff')

@font-face
    font-family: 'SF'
    font-weight: 900
    src: url('./assets/fonts/sf/black.woff') format('woff')


@font-face
    font-family: 'Fira Sans'
    font-weight: 700
    src: url('./assets/fonts/fira/bold.woff') format('woff'),
         url('./assets/fonts/fira/bold.woff2') format('woff2')
