
@font-face
    font-family: 'SF-fallback'
    font-weight: 100
    src: url('./assets/fonts/sf/ultralight.woff') format('woff')

@font-face
    font-family: 'SF-fallback'
    font-weight: 200
    src: url('./assets/fonts/sf/thin.woff') format('woff')

@font-face
    font-family: 'SF-fallback'
    font-weight: 400
    src: url('./assets/fonts/sf/regular.woff') format('woff')

@font-face
    font-family: 'SF-fallback'
    font-weight: 500
    src: url('./assets/fonts/sf/medium.woff') format('woff')

@font-face
    font-family: 'SF-fallback'
    font-weight: 600
    src: url('./assets/fonts/sf/semibold.woff') format('woff')

@font-face
    font-family: 'SF-fallback'
    font-weight: 700
    src: url('./assets/fonts/sf/bold.woff') format('woff')


@font-face
    font-family: 'Fira Sans'
    font-weight: 700
    src: url('./assets/fonts/fira/bold.woff') format('woff')
