
// colors
$color 				= {}

$color.dark			= #333


//font
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:700')

$font					= {}
$font.family 			= {}
$font.family.default 	= 'SF', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font.family.fira		= 'Fira Sans', sans-serif;
