
// colors
$color 				= {}

$color.dark			= #333


//font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

$font					= {}
$font.family 			= {}
$font.family.default 	= 'SF', -apple-system, BlinkMacSystemFont, sans-serif;
$font.family.fira		= 'Fira Sans', sans-serif;
